{% extends 'base.html' %}

{% block title %}
All Movies
{% endblock %}

{% block main %}
<h1> Movies list</h1>
{% if movies %}
<div class="table-responsive">
  <table class="table table-striped table-hover align-middle">
    <thead>
    <tr>
      <th scope="col">Slug</th>
      <th scope="col">Title</th>
      <th scope="col">Description</th>
      <th scope="col">Rating</th>
      <th scope="col">Actions</th>
    </tr>
    </thead>
    <tbody>
    {% for movie in movies %}
    <tr>
      <td><code>{{ movie.slug }}</code></td>
      <td>{{ movie.title }}</td>
      <td>
        {% if movie.description %}
        {{ movie.description }}
        {% else %}
        <code>—</code>
        {% endif %}
      </td>
      <td>{{ movie.rating }}</td>
      <td>
        <div
            class="btn-group"
            role="group"
            aria-label="Movie Actions">
          <a
              href="{{ url_for('movies:update-view', slug=movie.slug) }}"
              class="btn
            btn-outline-info">Edit</a>

          <button
              type="button"
              class="btn
              btn-outline-danger"
              data-bs-toggle="modal"
              data-bs-target="#modal-confirm-delete-{{ movie.slug }}">
            Delete
          </button>
        </div>


        <!-- Modal -->
        <div class="modal fade"
             id="modal-confirm-delete-{{ movie.slug }}"
             tabindex="-1"
             aria-labelledby="modal-confirm-delete-{{ movie.slug }}-label"
             aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
              <div class="modal-header">
                <h1 class="modal-title fs-5"
                    id="modal-confirm-delete-{{ movie.slug }}-label">Confirm delete Movie <code>{{ movie.slug }}</code>?</h1>
                <button type="button"
                        class="btn-close"
                        data-bs-dismiss="modal"
                        aria-label="Close"></button>
              </div>
              <div class="modal-body">
                Are you sure you want to delete movie
                <code>{{ movie.slug }}</code> that has title
                <strong>{{ movie.title }}</strong>?
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <form
                action="{{ url_for('movies:delete', slug=movie.slug) }}"
                method="post">
                  <button type="submit" class="btn btn-danger">Delete</button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </td>
    </tr>
    {% endfor %}
    </tbody>
  </table>
</div>

<div>
  <a
      class="btn btn-outline-primary"
      href="{{ url_for('movies:create-view') }}"
  >
    Create new
  </a>
</div>

{% else %}
<h2>No Movies yet</h2>
<h3>You can <a href="{{ url_for('movies:create-view') }}">create a new one</a></h3>
{% endif %}
{% endblock %}
